LHS_KAFKA_BOOTSTRAP_SERVERS=localhost:9092
LHS_CLUSTER_ID=server
LHS_INSTANCE_ID=server1
LHS_CLUSTER_PARTITIONS=12
LHS_SHOULD_CREATE_TOPICS=true
LHS_CORE_STREAM_THREADS=2
LHS_TIMER_STREAM_THREADS=2

LHS_ROCKSDB_TOTAL_MEMTABLE_BYTES=4294967296
LHS_ROCKSDB_TOTAL_BLOCK_CACHE_BYTES=4294967296
LHS_CORE_STATESTORE_CACHE_BYTES=4294967296
LHS_TIMER_STATESTORE_CACHE_BYTES=4294967296
