LHS_KAFKA_BOOTSTRAP_SERVERS=localhost:9092
LHS_CLUSTER_ID=mtls-cluster
LHS_INSTANCE_ID=1
LHS_REPLICATION_FACTOR=1
LHS_CLUSTER_PARTITIONS=12
LHS_STATE_DIR=/tmp/kafkaState
LHS_STREAMS_NUM_WARMUP_REPLICAS=1
LHS_STREAMS_NUM_STANDBY_REPLICAS=0
LHS_SHOULD_CREATE_TOPICS=true

LHS_HEALTH_SERVICE_PORT=1822

LHS_INTERNAL_BIND_PORT=2011
LHS_INTERNAL_ADVERTISED_PORT=2011
LHS_INTERNAL_ADVERTISED_HOST=localhost

LHS_LISTENERS=MTLS:2023
LHS_LISTENERS_PROTOCOL_MAP=MTLS:MTLS
LHS_LISTENERS_AUTHENTICATION_MAP=MTLS:MTLS

LHS_CA_CERT=local-dev/certs/ca/ca.crt
LHS_LISTENER_MTLS_CERT=local-dev/certs/server/server.crt
LHS_LISTENER_MTLS_KEY=local-dev/certs/server/server.key

LHS_ADVERTISED_LISTENERS=MTLS://localhost:2023

# CLIENT ~/.config/littlehorse.config
# LHW_TASK_WORKER_VERSION=local.dev
# LHC_API_HOST=localhost
# LHC_API_PORT=2023
# LHC_API_PROTOCOL=TLS
# LHC_CLIENT_CERT=/<path to your workspace>/littlehorse/local-dev/certs/client/client.crt
# LHC_CLIENT_KEY=/<path to your workspace>/littlehorse/local-dev/certs/client/client.key
# LHC_CA_CERT=/<path to your workspace>/littlehorse/local-dev/certs/ca/ca.crt
