LHS_KAFKA_BOOTSTRAP_SERVERS=localhost:9092
LHS_CLUSTER_ID=oauth-cluster
LHS_INSTANCE_ID=1
LHS_REPLICATION_FACTOR=1
LHS_CLUSTER_PARTITIONS=12
LHS_STATE_DIR=/tmp/kafkaState
LHS_STREAMS_NUM_WARMUP_REPLICAS=1
LHS_STREAMS_NUM_STANDBY_REPLICAS=0
LHS_SHOULD_CREATE_TOPICS=true
LHS_STREAMS_SESSION_TIMEOUT=10000

LHS_HEALTH_SERVICE_PORT=1822

LHS_INTERNAL_BIND_PORT=2011
LHS_INTERNAL_ADVERTISED_PORT=2011
LHS_INTERNAL_ADVERTISED_HOST=localhost

LHS_LISTENERS=OAUTH:2023
LHS_LISTENERS_PROTOCOL_MAP=OAUTH:TLS
LHS_LISTENERS_AUTHENTICATION_MAP=OAUTH:OAUTH

LHS_LISTENER_OAUTH_CERT=local-dev/certs/server/server.crt
LHS_LISTENER_OAUTH_KEY=local-dev/certs/server/server.key

LHS_OAUTH_CLIENT_ID=server
LHS_OAUTH_CLIENT_SECRET=3bdca420cf6c48e2aa4f56d46d6327e0
LHS_OAUTH_INTROSPECT_URL=http://localhost:8888/realms/lh/protocol/openid-connect/token/introspect

LHS_ADVERTISED_LISTENERS=OAUTH://localhost:2023

# CLIENT WORKER ~/.config/littlehorse.config
# LHW_TASK_WORKER_VERSION=local.dev
# LHC_API_HOST=localhost
# LHC_API_PORT=2023
# LHC_API_PROTOCOL=TLS
# LHC_OAUTH_CLIENT_ID=worker
# LHC_OAUTH_CLIENT_SECRET=40317ab43bd34a9e93499c7ea03ad398
# LHC_OAUTH_ACCESS_TOKEN_URL=http://localhost:8888/realms/lh/protocol/openid-connect/token
# LHC_CA_CERT=/<path to your workspace>/littlehorse/local-dev/certs/ca/ca.crt

# CLIENT CLI ~/.config/littlehorse.config
# LHC_API_HOST=localhost
# LHC_API_PORT=2023
# LHC_API_PROTOCOL=TLS
# LHC_OAUTH_CLIENT_ID=lhctl
# LHC_OAUTH_SERVER_URL=http://localhost:8888/realms/lh
# LHC_CA_CERT=/<path to your workspace>/littlehorse/local-dev/certs/ca/ca.crt
