LHS_KAFKA_BOOTSTRAP_SERVERS=localhost:9092
LHS_CLUSTER_ID=my-cluster
LHS_INSTANCE_ID=1
LHS_REPLICATION_FACTOR=1
LHS_CLUSTER_PARTITIONS=1
LHS_STATE_DIR=/tmp/kafkaState
LHS_STREAMS_NUM_WARMUP_REPLICAS=8
LHS_STREAMS_NUM_STANDBY_REPLICAS=0
LHS_STREAMS_SESSION_TIMEOUT=10000
LHS_SHOULD_CREATE_TOPICS=true
LHS_CORE_STREAM_THREADS=2
LHS_STREAMS_METRICS_LEVEL=info

LHS_HEALTH_SERVICE_PORT=1822

LHS_INTERNAL_BIND_PORT=2011
LHS_INTERNAL_ADVERTISED_PORT=2011
LHS_INTERNAL_ADVERTISED_HOST=localhost

LHS_LISTENERS=PLAIN:2023
LHS_LISTENERS_PROTOCOL_MAP=PLAIN:PLAIN

LHS_ADVERTISED_LISTENERS=PLAIN://localhost:2023

# LHS_X_LEAVE_GROUP_ON_SHUTDOWN=true

# CLIENT ~/.config/littlehorse.config
# LHW_TASK_WORKER_VERSION=local.dev
# LHW_SERVER_CONNECT_LISTENER=PLAIN
# LHC_API_HOST=localhost
# LHC_API_PORT=2023
