LHS_KAFKA_BOOTSTRAP_SERVERS=localhost:9092
LHS_CLUSTER_ID=server
LHS_INSTANCE_ID=server1
LHS_REPLICATION_FACTOR=1
LHS_CLUSTER_PARTITIONS=12
LHS_STATE_DIR=/tmp/kafkaState
LHS_STREAMS_NUM_WARMUP_REPLICAS=1
LHS_STREAMS_NUM_STANDBY_REPLICAS=0
LHS_SHOULD_CREATE_TOPICS=true

LHS_PROMETHEUS_EXPORTER_PORT=5555

LHS_INTERNAL_BIND_PORT=5001
LHS_INTERNAL_ADVERTISED_PORT=5001
LHS_INTERNAL_ADVERTISED_HOST=localhost

LHS_ADVERTISED_LISTENERS=TLS://localhost:5000
LHS_ADVERTISED_LISTENERS_PROTOCOL_MAP=TLS:TLS

LHS_ADVERTISED_LISTENER_TLS_CERT=local-dev/certs/server/server.crt
LHS_ADVERTISED_LISTENER_TLS_KEY=local-dev/certs/server/server.key

# CLIENT ~/.config/littlehorse.config
# LHW_TASK_WORKER_VERSION=local.dev
# LHW_SERVER_CONNECT_LISTENER=TLS
# LHC_API_HOST=localhost
# LHC_API_PORT=5000
# LHC_CA_CERT=/<path to your workspace>/lh-server/local-dev/certs/ca/ca.crt
