AUTH_SECRET="SUPER.Secret_Sentence"

#GOOGLE_ID="XXXXX"
#GOOGLE_SECRET="XXXXX"

#GITHUB_ID="XXXXX"
#GITHUB_SECRET="XXXXX"

#AZURE_AD_CLIENT_ID="AZURE.CLIENT_ID"
#AZURE_AD_CLIENT_SECRET="AZURE.CLIENT_SECRET"
#AZURE_AD_TENANT_ID="AZURE.TENANT"

#OKTA_CLIENT_ID="OKTA.CLIENT_ID"
#OKTA_CLIENT_SECRET="OKTA.CLIENT_SECRET"
#OKTA_ISSUER_URI="OKTA.ISSUER_URI"

NEXTAUTH_URL="http://localhost:3001"

API_URL=http://rest.altimetrik.demo.littlehorse.cloud:8080
