# Ignore binary and build stuff
.gradle
*/build
*/bin/

# Emacs-related stuff
*\#
*~

# node
node_modules/
package-lock.json

# Don't put the lhctl binary in the git tree.
# NOTE: need to put "download lhctl" as part of onboarding process.
build/lhctl


# Intellij
*/.idea
.idea/
# Others
local-dev/certs/
