# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
exclude: |
  (?x)(
      ^server/src/main/java/io/littlehorse/common/proto/|
      ^sdk-java/src/main/java/io/littlehorse/sdk/common/proto/|
      ^sdk-java/src/main/java/io/littlehorse/common/proto/|
      ^sdk-go/common/model/|
      ^sdk-python/littlehorse/model/|
      ^dashboard/apps/web/littlehorse-public-api/|
      ^docs/images/
  )
fail_fast: true
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        name: Trailing Whitespace
      - id: end-of-file-fixer
        name: Check End of Files
      - id: check-added-large-files
        name: Check For Any Large Added File
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.6
    hooks:
      - id: shellcheck
        name: List Shell Scripts
        args: ['-x', '--severity=error']
  - repo: local
    hooks:
      # Dependencies

      - id: install-python
        name: Install Python Dependencies
        language: system
        always_run: true
        pass_filenames: false
        entry: poetry -C ./sdk-python install

      - id: install-dashboard
        name: Install Dashboard Dependencies
        language: system
        always_run: true
        pass_filenames: false
        entry: bash -c 'npm install pnpm --global && cd ./dashboard && pnpm install'

      - id: install-sdk-js
        name: Install sdk-js Dependencies
        language: system
        always_run: true
        pass_filenames: false
        entry: bash -c 'cd ./sdk-js && npm install'

      # Formatters

      - id: format-java
        name: Format Java Code
        language: system
        always_run: true
        pass_filenames: false
        entry: ./gradlew spotlessApply

      - id: format-python
        name: Format Python Code
        language: system
        always_run: true
        pass_filenames: false
        entry: poetry -C ./sdk-python run black sdk-python/

      - id: format-go
        name: Format Go Code
        language: system
        always_run: true
        pass_filenames: false
        entry: gofmt -s -w ./sdk-go

      - id: format-sdk-js
        name: Format sdk-js
        language: system
        always_run: true
        pass_filenames: false
        entry: bash -c 'cd ./sdk-js && npm run lint:fix'

      # Linters

      - id: lint-python
        name: Lint Python Code
        language: system
        always_run: true
        pass_filenames: false
        entry: poetry -C ./sdk-python run ruff --fix sdk-python/

      - id: mypy
        name: Validating Python Types
        language: system
        always_run: true
        pass_filenames: false
        entry: poetry -C ./sdk-python run mypy --config-file sdk-python/pyproject.toml sdk-python/

      # Tests

      - id: java-build
        name: Tests Java Projects
        language: system
        always_run: true
        pass_filenames: false
        entry: ./gradlew build

      - id: javadoc
        name: Running JavaDoc
        language: system
        always_run: true
        pass_filenames: false
        entry: ./gradlew sdk-java:javadoc

      - id: go-tests
        name: Running SDK Go Tests
        language: system
        always_run: true
        pass_filenames: false
        entry: go test ./...

      - id: python-tests
        name: Running SDK Python Tests
        language: system
        always_run: true
        pass_filenames: false
        entry: poetry -C ./sdk-python run python -m unittest discover -s sdk-python/

      - id: dashboard-build
        name: Verify Build
        language: system
        always_run: true
        pass_filenames: false
        entry: bash -c 'cd ./dashboard && pnpm build'

      - id: dashboard-tests
        name: Running Dashboard Tests
        language: system
        always_run: true
        pass_filenames: false
        entry: bash -c 'cd ./dashboard && pnpm test'

      - id: sdk-js-tests
        name: Run sdk-js tests
        language: system
        always_run: true
        pass_filenames: false
        entry: bash -c 'cd ./sdk-js && npm run test'
