.label-canvas{

    margin-left: 24px;
    color: #FFF;
    text-align: center;
    font-size: 12px;
    font-family: "Inter";
    text-transform: uppercase;
    display: flex;
    align-items: center;
}