# Littlehorse Configuration
LHC_API_HOST=localhost
LHC_API_PORT=2023
# LHC_API_PROTOCOL=TLS
# LHC_CA_CERT=../local-dev/certs/ca/ca.crt

# Dashboard Configuration
# LHD_METRICS_PORT=9464
# LHD_METRICS_DISABLED=false

# Auth Configuration
# AUTH_SECRET= # Run `npx auth secret` to generate a secret. Read more: https://cli.authjs.dev
# AUTH_KEYCLOAK_ID=dashboard
# AUTH_KEYCLOAK_SECRET=74b897a0b5804ad3879b2117e1d51015
# AUTH_KEYCLOAK_ISSUER=http://localhost:8888/realms/lh
