# Littlehorse configuration
LHC_API_HOST=localhost
LHC_API_PORT=2023
# LHC_API_PROTOCOL=
# LHC_CA_CERT=

# OAuth Configuration
LHD_OAUTH_ENABLED=false

# Next-Auth configuration
# NEXTAUTH_SECRET=
# NEXTAUTH_URL=

# Keycloak
# KEYCLOAK_CLIENT_ID=
# KEYCLOAK_CLIENT_SECRET=
# KEYCLOAK_ISSUER_URI=
