# Littlehorse configuration
LHC_API_HOST=localhost
LHC_API_PORT=2023
# LHC_API_PROTOCOL=TLS
# LHC_CA_CERT=../local-dev/certs/ca/ca.crt

# # Auth configuration
# AUTH_SECRET=
# AUTH_URL=http://localhost:3000

# # Keycloak
# KEYCLOAK_CLIENT_ID=dashboard
# KEYCLOAK_CLIENT_SECRET=74b897a0b5804ad3879b2117e1d51015
# KEYCLOAK_ISSUER_URI=http://localhost:8888/realms/lh
