LHS_KAKFA_BOOTSTRAP_SERVERS=localhost:9092
LHS_CLUSTER_ID=server
LHS_INSTANCE_ID=server1
LHS_REPLICATION_FACTOR=1
LHS_CLUSTER_PARTTIONS=12
LHS_STREAMS_STATE_DIR=/tmp/kafkaState
LHS_STREAMS_NUM_WARMUP_REPLICAS=1
LHS_STREAMS_NUM_STANDBY_REPLICAS=0

LHS_API_BIND_PORT=5000
LHS_INTERNAL_BIND_PORT=5001
LHS_INTERNAL_ADVERTISED_PORT=5001
LHS_INTERNAL_ADVERTISED_HOST=localhost

LHS_ADVERTISED_LISTENER_NAMES=LHW_DEFAULT_LISTENER
LHW_DEFAULT_LISTENER=localhost:5000

LHS_SHOULD_CREATE_TOPICS=true
