LHORSE_KAKFA_BOOTSTRAP_SERVERS=localhost:9092
LHORSE_CLUSTER_ID=server
LHORSE_INSTANCE_ID=server1
LHORSE_REPLICATION_FACTOR=1
LHORSE_CLUSTER_PARTTIONS=12
LHORSE_STREAMS_STATE_DIR=/tmp/kafkaState
LHORSE_STREAMS_NUM_WARMUP_REPLICAS=1
LHORSE_STREAMS_NUM_STANDBY_REPLICAS=0

LHORSE_API_BIND_PORT=5000
LHORSE_INTERNAL_BIND_PORT=5001
LHORSE_INTERNAL_ADVERTISED_PORT=5001
LHORSE_INTERNAL_ADVERTISED_HOST=localhost

LHORSE_ADVERTISED_LISTENER_NAMES=LHORSE_PUBLIC_LISTENER
LHORSE_PUBLIC_LISTENER=localhost:5000
