.btn{

    cursor: pointer;
    display: flex;
    // min-width: 95px;
    height: 32px;
    padding: 12px;
    justify-content: center;
    align-items: center;
    text-align: center;

    border-radius: 4px;
    border: 1px solid var(--color-gray, #4D5461);
    background: var(--color-bg-dark, #242529);

    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-family: "Inter";


}

.btns{
    display: flex;
    gap: 8px;
}
.btns-right{
    justify-content: end;
}
.btn-icon{
    justify-content: space-between;
}

.btn-dark{

}
.active-dark{
    border-radius: 4px;
    border: 1px solid var(--color-gray, #4D5461);
    background: var(--color-ghost-light, #363A41);
}

.btn.active-purple{
    border-radius: 4px;
    border: 1px solid var(--color-primary-light, #AAA7FF);
    background: var(--color-primary, #7F7AFF);
}

.btn-wfrun-link {
    color: var(--color-primary, #7F7AFF);
    text-align: center;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border: none;
    display: inline-block;
}