.load_more_btn{
    display: inline-flex;
height: 32px;
padding: 16px;
align-items: center;
gap: 4px;
flex-shrink: 0;

border-radius: 4px;
border: 1px solid var(--color-primary, #7F7AFF);

color: var(--color-primary, #7F7AFF);
text-align: center;
font-size: 14px;
font-family: Inter;
font-weight: 600;
background: transparent;
cursor: pointer;

    &:disabled, &.disabled, &.disabled:hover{
        cursor: default;
        border-radius: 4px ;
        border: 1px solid var(--color-gray, #4D5461) !important;
        background: transparent !important;
        color: var(--color-gray, #4D5461) !important;
        text-align: center;
        font-size: 14px;
        font-family: "Inter";
        font-weight: 600;
        img{
            filter: grayscale(100%) opacity(50%) !important;
        }
    }
&:hover{
    border-radius: 4px;
    border: 1px solid var(--color-primary-light, #AAA7FF);
    background: var(--color-primary, #7F7AFF);

    color: var(--color-bright-light, #EDEEF0);
    text-align: center;
    font-size: 14px;
    font-family: Inter;
    font-weight: 600;

    img{
        filter: brightness(5) ;
    }

}
}
