@import "./styles/variables";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import "./styles/login";
@import "./styles/components";

$color-primary: #7F7AFF;

html,body {
    padding: 0px;
    margin: 0px;
    height: 100vh;
    background: #242529;
}
h1{
    display: flex;
    padding: 8px 16px;
    gap: 10px;
    width: 100%;
    flex: 1;

    color: var(--color-bright-light, #EDEEF0);
    font-size: 24px;
    font-family: "Inter";
    font-weight: 700;
    margin-bottom: 16px;
    .line{
        font-weight: 600;
       color: #9098A0
    }
    .lighter{
        font-weight: 400;
    }
}
h2{
    color: #EDEEF0;
    font-size: 24px;
    font-family: "Inter";
    font-weight: 600;
    margin: 0;
    padding: 0;
    line-height: 24px;
}
h3{
    color: var(--color-bright-light, #EDEEF0);
    font-size: 16px;
    font-family: "Inter";
    font-weight: 700;
    margin: 0px;
}
h4{
    color: var(--color-bright-light, #EDEEF0);
    font-size: 14px;
    font-family: "Inter";
    font-weight: normal;
    margin: 0px;
}

section{
    display: flex;
    padding: 16px;
    flex-direction: column;
    gap: 16px;
    align-self: stretch;
    border-radius: 16px;
    border: 1px solid var(--color-shadow-light, #3D4149);
    background: var(--color-bg-linear-gradient, linear-gradient(180deg, #282B30 0%, #24272B 53.65%, #232529 100%));
    /* shadow-darkbox01 */
    box-shadow: 0px 27px 8px 0px rgba(0, 0, 0, 0.00), 0px 17px 7px 0px rgba(0, 0, 0, 0.01), 0px 10px 6px 0px rgba(0, 0, 0, 0.05), 0px 4px 4px 0px rgba(0, 0, 0, 0.09), 0px 1px 2px 0px rgba(0, 0, 0, 0.10), 0px 0px 0px 0px rgba(0, 0, 0, 0.10);

}
article{
    display: flex;
    padding: 16px;
    flex-direction: column;
    gap: 24px;

    border-radius: 8px;
    border: 1px solid var(--color-shadow-light, #3D4149);
    background: var(--color-bg-linear-gradient, linear-gradient(180deg, #282B30 0%, #24272B 53.65%, #232529 100%));

    /* shadow-darkbox01 */
    box-shadow: 0px 27px 8px 0px rgba(0, 0, 0, 0.00), 0px 17px 7px 0px rgba(0, 0, 0, 0.01), 0px 10px 6px 0px rgba(0, 0, 0, 0.05), 0px 4px 4px 0px rgba(0, 0, 0, 0.09), 0px 1px 2px 0px rgba(0, 0, 0, 0.10), 0px 0px 0px 0px rgba(0, 0, 0, 0.10);
    header{
        display: flex;
        justify-content: space-between;
        .article-title{
            flex-direction: column;
            align-items: flex-start;
        }
    }

}
.display-block{
    display: block;
}
.color-primary{
    color: $color-primary;
}
.mb-40{
    margin-bottom: 40px;
}
.between{
    display: flex;
    flex: 1;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.end{
    display: flex;
    flex: 1;
    width: 100%;
    justify-content: end;
    align-items: center;
}

.flex{
    display: flex;
}
.flex-1{
    flex: 1 1 0%;
}
.items-center{
    align-items: center;
}
.justify-center{
    justify-content: center;
}
.text-center {
    text-align: center !important;
}
.w-full {
    width: 100%
}
.w-10 {
    width: 2.5rem/* 40px */;
}
.h-10 {
    height: 2.5rem/* 40px */;
}
.align-middle {
    vertical-align: middle;
}
.capitalize {
    text-transform: capitalize;
}

.spinner{
    animation: spin 1s linear infinite;
}
@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }

.table{

    border: 1px solid var(--color-gray-blue, #394150);
    border-radius: 9px;
    overflow: hidden;
    background: linear-gradient(180deg, #282B30 0%, #24272B 53.65%, #232529 100%);
    table{
        border-collapse: collapse;
        width: 100%;
        
    }
    /* shadow-darkbox01 */
    box-shadow: 0px 27px 8px 0px rgba(0, 0, 0, 0.00), 0px 17px 7px 0px rgba(0, 0, 0, 0.01), 0px 10px 6px 0px rgba(0, 0, 0, 0.05), 0px 4px 4px 0px rgba(0, 0, 0, 0.09), 0px 1px 2px 0px rgba(0, 0, 0, 0.10), 0px 0px 0px 0px rgba(0, 0, 0, 0.10);
    thead{
        overflow: hidden;
    }
    caption{
        display: flex;
        padding: 16px 12px;
        justify-content: center;
        align-items: center;
        gap: 12px;
        flex: 1 0 0;
        align-self: stretch;
        background: var(--color-shadow-light-3, #2D2F36);
    }
    th{
        padding: 16px;
        color: #EDEEF0;
        text-align: left;
        font-size: 12px;
        font-family: "Inter";
        font-weight: 600;
        background: #363A41;
    }
    tbody{
        // height: 500px;
        
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
        width: 100%;
        tr{
            border-bottom: 1px solid var(--color-gray-blue, #394150);
        }
        tr:hover{
            background: #373554;
        }
    } 
    td{
        color: var(--color-bright-light, #EDEEF0);
        font-size: 16px;
        font-family: "Inter";
        padding: 16px 12px;
        height: 51px;
        box-sizing: border-box;
        width: 100%;
        a{
            color: var(--color-primary, #7F7AFF);
            text-decoration: none;
        }
    }
    td:first-child, th:first-child{
        padding-left: 28px;
    }
    td:last-child, th:last-child{
        padding-right: 28px;
    }
}
.breadcrumb{
    font-family: "Inter";
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: -35px;
    margin-bottom: 16px;
    padding: 0px 16px;
    .link, a{
        color: var(--color-primary, #7F7AFF);
        text-decoration: none;
    }

}
