.perpage-canvas{
    position: relative;
    img{
        position: absolute;
        top: 13px;
        right: 10px;
        user-select: none;
        pointer-events: none;
    }
    .input{
        user-select: none;
        cursor: pointer;
        display: flex;
        width: 67px;
        height: 32px;
        padding: 10px;
        align-items: center;
        gap: 10px;
        flex-shrink: 0;

        border-radius: 4px;
        border: 1px solid #4B5058;
        background: #363A41;
        box-sizing: border-box;
        outline: none;

        color: #EDEEF0;
        text-align: left;
        font-size: 14px;
        font-family: "Inter";

        &::placeholder{
            color: #BDBDBD;
        }

        &.icon{
            padding-right: 30px;
        }

    }
    .options{
        min-width: 100px;
        position: absolute;
        border-radius: 4px;
        background: var(--color-gray-blue, #394150);
        top:-163px;
        background: var(--color-gray-blue, #394150);
        overflow: hidden;
        div{
            cursor: pointer;
            color: #FFF;
            font-size: 14px;
            font-family: "Inter";
            font-weight: 500;
            line-height: 16px;
            padding: 8px 12px;
            &:hover{
                background: var(--color-gray, #4D5461);
            }
        }
    }
}
