services:
  kafka:
    container_name: lh-kafka
    image: bitnami/kafka:3.5
    environment:
      ALLOW_PLAINTEXT_LISTENER: "yes"
      KAFKA_ENABLE_KRAFT: "yes"
      KAFKA_CFG_LISTENERS: CONTROLLER://:29092,EXTERNAL://:19092,INTERNAL://:9092
      KAFKA_CFG_ADVERTISED_LISTENERS: EXTERNAL://localhost:19092,INTERNAL://kafka:9092
      KAFKA_CFG_LISTENER_SECURITY_PROTOCOL_MAP: CONTROLLER:PLAINTEXT,EXTERNAL:PLAINTEXT,INTERNAL:PLAINTEXT
      KAFKA_CFG_INTER_BROKER_LISTENER_NAME: INTERNAL
      KAFKA_CFG_BROKER_ID: "1"
      KAFKA_CFG_OFFSETS_TOPIC_REPLICATION_FACTOR: "1"
      KAFKA_CFG_TRANSACTION_STATE_LOG_MIN_ISR: "1"
      KAFKA_CFG_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: "1"
      KAFKA_CFG_CONTROLLER_QUORUM_VOTERS: 1@localhost:29092
      KAFKA_CFG_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_CFG_PROCESS_ROLES: broker,controller
      BITNAMI_DEBUG: "true"
      KAFKA_CFG_NODE_ID: "1"
      KAFKA_KRAFT_CLUSTER_ID: abcdefghijklmnopqrstuv
    restart: on-failure
    healthcheck:
      test: kafka-topics.sh --bootstrap-server kafka:9092 --list > /dev/null 2>&1
      interval: 5s
  littlehorse:
    container_name: lh-server-1
    image: ghcr.io/littlehorse-enterprises/littlehorse/lh-server:0.10.1
    ports:
      - "2023:2023"
    environment:
      - LHS_KAFKA_BOOTSTRAP_SERVERS=kafka:9092
      - LHS_CLUSTER_ID=my-cluster
      - LHS_INSTANCE_ID=1
      - LHS_SHOULD_CREATE_TOPICS=true
      - LHS_HEALTH_SERVICE_PORT=1822
      - LHS_INTERNAL_BIND_PORT=2011
      - LHS_INTERNAL_ADVERTISED_HOST=lh-server-1
      - LHS_INTERNAL_ADVERTISED_PORT=2011
      - LHS_LISTENERS=PLAIN:2023
      - LHS_ADVERTISED_LISTENERS=PLAIN://localhost:2023
  littlehorse-2:
    container_name: lh-server-2
    image: ghcr.io/littlehorse-enterprises/littlehorse/lh-server:0.10.1
    ports:
      - "2024:2024"
    environment:
      - LHS_KAFKA_BOOTSTRAP_SERVERS=kafka:9092
      - LHS_CLUSTER_ID=my-cluster
      - LHS_INSTANCE_ID=2
      - LHS_SHOULD_CREATE_TOPICS=true
      - LHS_HEALTH_SERVICE_PORT=1822
      - LHS_INTERNAL_BIND_PORT=2021
      - LHS_INTERNAL_ADVERTISED_HOST=lh-server-2
      - LHS_INTERNAL_ADVERTISED_PORT=2021
      - LHS_LISTENERS=PLAIN:2024
      - LHS_ADVERTISED_LISTENERS=PLAIN://localhost:2024
  littlehorse-3:
    container_name: lh-server-3
    image: ghcr.io/littlehorse-enterprises/littlehorse/lh-server:0.10.1
    ports:
      - "2025:2025"
    environment:
      - LHS_KAFKA_BOOTSTRAP_SERVERS=kafka:9092
      - LHS_CLUSTER_ID=my-cluster
      - LHS_INSTANCE_ID=3
      - LHS_SHOULD_CREATE_TOPICS=true
      - LHS_HEALTH_SERVICE_PORT=1822
      - LHS_INTERNAL_BIND_PORT=2031
      - LHS_INTERNAL_ADVERTISED_HOST=lh-server-3
      - LHS_INTERNAL_ADVERTISED_PORT=2031
      - LHS_LISTENERS=PLAIN:2025
      - LHS_ADVERTISED_LISTENERS=PLAIN://localhost:2025
  dashboard:
    container_name: lh-dashboard
    image: ghcr.io/littlehorse-enterprises/littlehorse/lh-dashboard:master
    environment:
      LHC_API_HOST: lh-server-1
      LHC_API_PORT: 2023
      LHD_OAUTH_ENABLED: false
    restart: on-failure
    healthcheck:
      test: curl -f localhost:3000
      interval: 5s
    ports:
      - "8080:3000"