@import "./calendar";

.container{

    min-width: 1200px;
    margin: auto;
    color: var(--color-bright-light, #EDEEF0);
    font-family: "Inter";
    width: 1440px;
    padding: 24px 36px;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    display: flex;
}

.header-bar{
    display: flex;
    padding: 0px 36px;
    height: 56px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    border-bottom: 1px solid var(--color-shadow-light, #3D4149);
    .login-dropdown{
        position: relative;
        .login-dropdown__btn{
            cursor: pointer;
            height: 40px;
            display: flex;
            padding: 0px 12px;
            align-items: center;
            gap: 12px;
            border-radius: 4px;
            color: var(--color-bright-light, #EDEEF0);
            font-size: 14px;
            font-family: "Inter";
            font-weight: 500;
            border: 1px solid transparent;
            .avatar{
                display: flex;
                align-items: center;
                justify-content: center;
                overflow: hidden;
                color: #FFF;
                font-size: 10px;
                font-family: "Inter";
                font-weight: 700;
                text-transform: uppercase;
                border-radius: 100%;
                border-radius: 24px;
                background: var(--color-primary, #7F7AFF);
                width: 24px;
                height: 24px;
                img{
                    width: 24px;
                    height: 24px;
                }
            }

            &.active{
                border-radius: 4px;
                border: 1px solid var(--color-gray, #4D5461);
                background: var(--color-ghost-light, #363A41);
            }
        }
        .login-dropdown__dd{
            position: absolute;
            background: var(--color-gray-blue, #394150);
            top:45px;
            height: 40px;
            right: 0;
            display: flex;
            align-items: center;

            button{
                text-align: left;
                padding: 8px 12px;
                width: 146px;
                height: 32px;
                border: none;
                color: #FFF;
                font-size: 14px;
                font-family: Inter;
                font-weight: 500;
                line-height: 16px;
                cursor: pointer;
                background: var(--color-gray-blue, #394150);
                &:hover{
                    background: lighten(#394150,5);
                }
            }
        }
    }

}