.login{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
}
.login_horse{
    background-image: url('/handsome-horse.png');
    background-position: center center;
    background-size: cover;
    width: 50vw;
}
.login_form{
    width: 50vw;
    min-width: 300px;
    overflow: auto;
    padding: 53px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    img{
        width: 218px;
        margin-right: 0;
        margin-left: auto;
    }
    form{
        // margin-right: 141px;
        // margin-left: 141px;
        margin-right: auto;
        margin-left: auto;
        color: white;
        min-width: 300px;
        width: 100%;
        max-width: 400px;
        .title{
            color: #EDEEF0;
            text-shadow: 0px 0px 6px 0px rgba(127, 122, 255, 0.25);
            font-size: 48px;
            font-family: 'Inter', sans-serif;
            font-weight: 700;
        }
        .login-button{
            border: none;
            cursor: pointer;
            height: 64px;
            padding: 16px 24px 16px 16px;
            align-items: center;
            justify-content: center;
            width: 100%;
            border-radius: 8px;
            background: var(--color-primary, #7F7AFF);
            display: flex;
            gap:17px;
            color: #FFF;
            font-size: 20px;
            font-family: 'Inter', sans-serif;
            font-weight: 500;
            margin-bottom: 20px;
            
            img{
                width: 22px;
                height: 12px;
            }
        }
    }
    .legals{
        color: #EDEEF0;
        text-align: center;
        font-size: 16px;
        font-family: 'Inter', sans-serif;
        margin-bottom: -21px;
        
    }
    
}