.visualizer {
	display: flex;
	overflow: hidden;
	border-radius: 16px;
	border: 1px solid #363a41;
	background: linear-gradient(180deg, #282b30 0%, #24272b 53.65%, #232529 100%);

	/* shadow-darkbox01 */
	box-shadow: 0px 27px 8px 0px rgba(0, 0, 0, 0),
		0px 17px 7px 0px rgba(0, 0, 0, 0.01), 0px 10px 6px 0px rgba(0, 0, 0, 0.05),
		0px 4px 4px 0px rgba(0, 0, 0, 0.09), 0px 1px 2px 0px rgba(0, 0, 0, 0.1),
		0px 0px 0px 0px rgba(0, 0, 0, 0.1);
	.canvas {
		flex: 1;
		background: #1d1e26;
		height: 860px;
		overflow: auto;
	}

	.viznode-canvas{
		// background: #1d1e26;
		// border: 1px solid #3D4149;
		display: flex;
		align-items: start;
		justify-content: center;
		padding: 16px;
		flex:1;
		.ring{
			background: #1d1e26;
			padding: 10px;
			padding-top: 0px;
		}
		
		.node{
			cursor:pointer;
			display: inline-flex;
			padding: 12px;
			justify-content: center;
			align-items: center;
			gap: 8px;
			flex-shrink: 0;
			border-radius: 8px;
			border: 1px solid var(--color-shadow-light, #3D4149);
			background: var(--color-ghost-light, #363A41);
			// background: var(--color-ghost-light, #363A41);
			// &:hover{
			//     box-shadow: 0px 0px 10px 0px rgba(118, 118, 118, 0.50), 0px 0px 20px 0px rgba(255, 255, 255, 0.25);
			// }
	
			color: var(--color-bright-light, #EDEEF0);
			font-family: "Inter";
			font-size: 14px;
			font-style: normal;
			font-weight: 600;
			line-height: normal;
	
			transition: all ease-in .1s;
	
			&.selected-node{
				border: 1px solid var(--color-bright-light, #EDEEF0);
				box-shadow: 0px 0px 10px 0px rgba(118, 118, 118, 0.50), 0px 0px 20px 0px rgba(255, 255, 255, 0.25);
			}
			// .tTASK{
	
			// }
			&.tNOP{
				flex-direction: column;
				gap: 0px;
			}
			&.tENTRYPOINT{
				border-radius: 64px;
				padding: 16px;
				padding: 16px;
				border: 1px solid var(--color-information, #007AFF);
				background: rgba(0, 122, 255, 0.20);
			}
			&.tEXIT{
				padding: 16px;
				border-radius: 64px;
				border: 1px solid var(--color-success, #34C759);
				background: rgba(52, 199, 89, 0.20);
			}
		}
	}

	
}


