name: branch
run-name: Publishing images for branch ${{ github.ref_name }}
on:
  workflow_dispatch:
  push:
    branches-ignore:
      - "master"
    paths:
      - .github/workflows/branch.yml
      - docker/dashboard/**
      - docker/server/**
      - docker/standalone/**
      - docker/canary/**
      - server/**
      - schemas/**
      - sdk-java/**
      - dashboard/**
      - canary/**
permissions:
  id-token: write
  contents: read
jobs:
  lh-server:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: "corretto"
          java-version: 24

      - name: Tests and Build
        run: ./gradlew server:build server:installDist

      - uses: actions/upload-artifact@v4
        with:
          name: server-dist
          path: ./server/build/install/server/

      - name: Build and Publish
        uses: littlehorse-enterprises/publish-image@v1
        with:
          image-name: lh-server
          dockerfile: docker/server/Dockerfile
          registry: ecr
          prefix: branch-

  lh-canary:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: "corretto"
          java-version: 24

      - name: Tests and Build
        run: ./gradlew canary:build

      - uses: actions/upload-artifact@v4
        with:
          name: canary-jar
          path: canary/build/libs/canary-*-all.jar

      - name: Build and Publish
        uses: littlehorse-enterprises/publish-image@v1
        with:
          image-name: lh-canary
          dockerfile: docker/canary/Dockerfile
          registry: ecr
          prefix: branch-

  lh-dashboard:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      # - name: Update Dashboard Version
      #   working-directory: ./dashboard
      #   run: |
      #     SHORT_SHA=$(echo "${{ github.sha }}" | cut -c1-7)
      #     VERSION="${{ github.ref_name }}-$SHORT_SHA"
      #     sed -i "s|NEXT_PUBLIC_VERSION: '.*'|NEXT_PUBLIC_VERSION: '$VERSION'|g" next.config.ts

      - name: Build Dashboard
        working-directory: ./dashboard
        run: |
          npm ci
          npm run build

      - name: Build and Publish
        uses: littlehorse-enterprises/publish-image@v1
        with:
          image-name: lh-dashboard
          dockerfile: docker/dashboard/Dockerfile
          registry: ecr
          prefix: branch-

  lh-standalone:
    runs-on: ubuntu-latest
    needs:
      - lh-server
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      # - name: Update Dashboard Version
      #   working-directory: ./dashboard
      #   run: |
      #     SHORT_SHA=$(echo "${{ github.sha }}" | cut -c1-7)
      #     VERSION="${{ github.ref_name }}-$SHORT_SHA"
      #     sed -i "s|NEXT_PUBLIC_VERSION: '.*'|NEXT_PUBLIC_VERSION: '$VERSION'|g" next.config.ts

      - name: Build Dashboard
        working-directory: ./dashboard
        run: |
          npm ci
          npm run build

      - name: Download Server dist artifact
        uses: actions/download-artifact@v4
        with:
          name: server-dist
          path: server/build/install/server/

      - name: Build and Publish
        uses: littlehorse-enterprises/publish-image@v1
        with:
          image-name: lh-standalone
          dockerfile: docker/standalone/Dockerfile
          registry: ecr
          prefix: branch-
