name: main
run-name: Tests
on:
  push:
    branches:
      - "**"

jobs:
  tests-sdk-java:
    if: ${{ !contains(github.event.head_commit.message, '[skip main]') }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java-version: ["11", "17"]
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup Java ${{ matrix.java-version }}
        uses: actions/setup-java@v3
        with:
          distribution: "corretto"
          java-version: ${{ matrix.java-version }}
      - name: Tests
        run: ./gradlew sdk-java:test sdk-java:build
  tests-sdk-go:
    if: ${{ !contains(github.event.head_commit.message, '[skip main]') }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup Go
        uses: actions/setup-go@v4
        with:
          go-version: "stable"
      - name: Tests
        run: go test ./...
  tests-server:
    if: ${{ !contains(github.event.head_commit.message, '[skip main]') }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup Java
        uses: actions/setup-java@v3
        with:
          distribution: "corretto"
          java-version: 17
      - name: Tests
        run: ./gradlew server:test server:build
  tests-e2e:
    if: ${{ !contains(github.event.head_commit.message, '[skip main]') }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup Java
        uses: actions/setup-java@v3
        with:
          distribution: "corretto"
          java-version: 17
      - name: Tests
        run: gradle e2e-test:run --args="-p -t 2"
